/*styles for both Anni Albers layouts*/ 
main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 0.75rem;
    font-style: italic;
}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 50%;
}

p.callout {
    font-size: 2rem;
    line-height: 2.2rem;
    font-style: italic;
    float: right;
    text-align: right;
    padding-left: 2em;
    margin-top: 0;
}

#row1 p,
#row3 p,
#row6 p,
#row9 p,
#row11 p {
    margin-left: calc(100% * 1 / 6);
}

#row4 p,
#row7 p {
    margin-left: calc(100% * 2 / 6);
}

#row8 p.callout{
    float: left;
    text-align: left;
    padding-left: 0;
}

#row8 p.rowpara{
    margin-left: calc(100% * 1 / 2);
}

#row10 p.callout{
    float: left;
    text-align: left;
    padding-left: 0;
}

#row10 p.rowpara{
    margin-left: calc(100% * 1 / 2);
}

#bio h2{
    font-size: 2.5rem;
}
#bio p{
    width: 100%;
}


/* *************************************************** */
/* CSS for index2                                      */
/* *************************************************** */

/* inherit the baseline main code, above, and add to it */
#secondLayout main {
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 6) );
    grid-template-rows: 100vh repeat(4, auto);
    grid-template-areas:
        'title title title title title title'
        '. p1 p1 p1 . .'
        'p2 p2 p2 c1 c1 c1'
        '. p3 p3 p3 . .'
        '. . p4 p4 p4 .'
        'p5 p5 p5 c2 c2 c2'
        '. p6 p6 p6 . .'
        '. . p7 p7 p7 .'
        'c3 c3 c3 p8 p8 p8'
        '. p9 p9 p9 . .'
        'c4 c4 c4 p10 p10 p10'
        '. p11 p11 p11 . .'

}

/* assigning grid area names to DOM elements */
#secondLayout #titleRow { grid-area: title; }
#secondLayout #para1 { grid-area: p1; }
#secondLayout #para2 { grid-area: p2; }
#secondLayout #para3 { grid-area: p3; }
#secondLayout #para4 { grid-area: p4; }
#secondLayout #callout1 { grid-area: c1; }
#secondLayout #para5 { grid-area: p5; }
#secondLayout #callout2 { grid-area: c2; }
#secondLayout #para6 { grid-area: p6; }
#secondLayout #para7 { grid-area: p7; }
#secondLayout #callout3 { grid-area: c3; }
#secondLayout #para8 { grid-area: p8; }
#secondLayout #para9 { grid-area: p9; }
#secondLayout #callout4 { grid-area: c4; }
#secondLayout #para10 { grid-area: p10; }
#secondLayout #para11 { grid-area: p11; }

/* override the baseline p styles from above */
#secondLayout p {
    width: 100%;
}

#secondLayout #callout1 {
    padding-left: 0;
}
#secondLayout #callout2 {
    padding-left: 0;
}
#secondLayout #callout3 {
    padding-left: 0;
    text-align: left;
    float: left;
}
#secondLayout #callout4 {
    padding-left: 0;
    text-align: left;
    float: left;

}

#secondLayout section h1 {
    padding-top: 70vh;
}

#secondLayout #biorow h2{
    font-size: 2.5rem;
}

#secondLayout #bioRow p{
    width: 100%;
}













