/*styles for both Anni Albers layouts*/ 
main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 0.75rem;
    font-style: italic;
}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 50%;
}

p.callout {
    font-size: 2rem;
    line-height: 2.2rem;
    font-style: italic;
    float: right;
    text-align: right;
    padding-left: 2em;
    margin-top: 0;
}

#row1 p,
#row3 p,
#row6 p,
#row9 p,
#row11 p {
    margin-left: calc(100% * 1 / 6);
}

#row4 p,
#row7 p {
    margin-left: calc(100% * 2 / 6);
}

#row8 p.callout{
    float: left;
    text-align: left;
    padding-left: 0;
}

#row8 p.rowpara{
    margin-left: calc(100% * 1 / 2);
}

#row10 p.callout{
    float: left;
    text-align: left;
    padding-left: 0;
}

#row10 p.rowpara{
    margin-left: calc(100% * 1 / 2);
}

#bio h2{
    font-size: 2.5rem;
}
#bio p{
    width: 100%;
}















